:root {
    --primary-color: #007bff;
    --secondary-color: #75cc7d;
    --background-color: #1c1c1c;
    --text-color:#f8f8f8;
}

html {
    margin:0;
    padding:0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
footer {
    font-size: 0.8 em;
    background-color: thistle;
}
a{
    color: var(--secondary-color);
    text-decoration: none;
}
a:hover{
    color: aliceblue;
    text-decoration: underline;
}
.nav {
    padding: 1em 0;
    background-color: var(--primary-color);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}
